#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda,sdb
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=eno16777984 --gateway=199.38.220.241 --ip=199.38.220.246 --nameserver=8.8.8.8,8.8.4.4 --netmask=255.255.255.252 --ipv6=auto --activate
network  --hostname=base.p.areteforall.com

# Root password
rootpw --iscrypted $6$s5cb7bGmLZbsK9jl$kxuWq1FOecb4KBUVPQggh9THAu4zoxoNJXf0dNzI50R4XvQYBVOslQ2IiGNlSySl3ZL8bIEsHfePJlIv8.8fj.
# System services
services --enabled="chronyd"
# System timezone
timezone Etc/UTC --isUtc --ntpservers=0.centos.pool.ntp.org,1.centos.pool.ntp.org,2.centos.pool.ntp.org,3.centos.pool.ntp.org
user --groups=wheel --name=jshin --password=$6$1h8fzMl2w/2iu//s$nEPKKn.857ETtPCId1ry3YyQFakuXMgpgSpUb4QKI974sfp1JfmqaOWKGlWoVZcvnyNFwv.CHIj6m7KayvzUd/ --iscrypted --gecos="Justin Shin"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%packages
@^minimal
@compat-libraries
@core
@debugging
@development
@security-tools
chrony
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end
